<div class="row form user_profile">
  <div class="col-lg-12">
    <h2><span>username:</span><%= @user.nickname %>
        <% if current_user.id == @user.id %>
      <div class="profile_edit">
        <%= link_to 'プロフィール編集', edit_user_path(current_user),class: 'btn btn-primary withripple' %>
      </div>
    <% end %>
      <span>これまでに飲んだお酒は<br /><%= @user.tweets.count %>本！！</span></h2>
  </div>
</div>

<%= render partial: "tweets/tweet", collection: @user.tweets.order("created_at DESC") %>
